@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url("C:\Users\gaura\stickynotes\src\pexels-joshkjack-135018.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
}